button.prop {
  background-color: #ffa500;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 3px solid #ffa500;
}
button.prop:hover {
  background-color: #ffa50033;
  color: #ffa500;
}
